@import 'reset.css';
@import 'grid12.css';
@import 'content.css';

html,
body {
  color: #333;
  margin: 0;
  background: #e6e6e6;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#topImg {
  display: grid;
  color: #fff;
  height: 454px;
  grid-template-columns: 92% 8%;
}

#topImg .title-area {
  background: #333;
}

#topImg .social-media {
  position: relative;
  background: #fff;
}

#topImg .social-media .rotate-this {
  width: 300px;
  position: absolute;
  top: 250px;
  left: -110px;
  transform: rotate(-90deg);
}

#topImg .social-media .rotate-this > a {
  color: grey;
  font-weight: 400;
  margin-left: 45px;
  text-align: center;
  font-size: 11px;
}

.customContainer {
  min-height: calc(100vh - 70px);
}

footer {
  color: #fff;
  height: 50px;
  background: red;
}
